
.image{
    width: 38px;
    height: 40px;  
    padding: 6px 7px;
    margin-left: -12px;
    border: none; 
    user-select: none;
    background-color: #fff;
    cursor: pointer;
}

.image img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.menu{
    position: absolute;
    top: calc(100% + 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 262px;
    height: 624px;
    margin-top: -5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.profile-name{
    width: 260px;
    height: 114px;
    padding:8px 16px;
    border-bottom: 1px solid #ccc;
}

.profile-pic{
    width:228px;
    height:64px;
    padding: 16px 0 0;
}

.profile-pic img{
    width:40px;
    height:40px;
    border-radius:50px;
    cursor: pointer;
}

.names{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:228px;
    height: 25px;
   

}

.names span{
    font-size: 18px;
    color:#282829;
    font-weight: 700;
    cursor: pointer;
}
.caret-right{
    font-size: 22px;
    color: #636466;
}

.lists{
    width:260px;
    height:289px;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
}

.list-option{
    display:flex;
    align-items: center;
    gap:5px;
    width:236px;
    height:40px;
    padding: 0 12px;
    cursor: pointer;
   
}
.list-option span{
    font-size:14px;
    color:#282829;
}

.outline-comment{
    font-size:24px;
    color:#636466;
}
.speaker{
    font-size:24px;
    color:#636466;
}
.dollar{
    font-size:24px;
    color:#636466;
}
.bar{
    font-size:24px;
    color:#636466;
}
.bookmark{
    font-size:24px;
    color:#636466;
}
.notes{
    font-size:24px;
    color:#636466;
}
.plus{
    font-size:24px;
    color:#636466;
}

.profile-setting{
    width:260px;
    height:139px;
    padding: 4px 0;
    border-bottom:1px solid #ccc;
}
.profile-option{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 4px 16px;
    cursor: pointer;
}

.profile-option span{
    font-size: 13px;
    color: #282829
}

.profile-option .off{
    width:30px;
    height:16px;
    display:flex;
    align-items:center;
    padding: 0 2px;
    border:1px solid #ccc;
    border-radius: 15px;
    color: #636466;
    background-color:#e7e8e9;

}

.profile-links{
    width:260px;
    height:79px;
    padding: 8px 16px;
    background: #e7e7e8;
}
  

.profile-link a{
    font-size:13px;
    color: #939598;
    cursor: pointer;
}

.profile-link a:hover{
    text-decoration: underline;
}