.sidebar{
    width: 123px;
    height: 260px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 64px;
    
}

.sidebar-content{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;

}
.sidebar-box{
    display: flex;
    align-items: center;
    width: 123px;
    height: 34px;
    padding:0 8px;
    background: #dee8e8;
    gap: 5px;
}
.sidebar-box > p{
    font-size: 13px;
    color: #636466;
}

.sidebar-filter{
    display:flex;
    align-items: center;
    width: 123px;
    height: 34px;
    padding: 0 10px;
    background: #f7f7f8;
    gap: 10px;
    cursor: pointer;
}

.sidebar-filter:hover{
    background: gainsboro;
}

.sidebar-filter img{
    width: 20px;
    border-radius: 2px;
}

.sidebar-filter p{
    font-size: 13px;
    color: #636466;
}

.sidebar-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 123px;
    height: 142px;
    margin-top: 20px;
}
.sidebar-links a{
    font-size: 13px;
    color: #939598;
    text-decoration: none;
}
.sidebar-link{
    display: flex;
    align-items: center;
    justify-content: start;
}


.sidebar-links a:hover{
    text-decoration: underline;
}